@import "../../components/styles/main.scss";

.sign-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 100vh;
}

input {
    width: $maximum;
    outline: none;
}

.button {
    border: none;
    background-color: $background-info;
    padding: 5px 10px;
    color: $text-color;
    border-radius: 5px;
    width: $maximum;
}

.button:hover {
    box-shadow: 0 0 2px $background-info;
}

.signInForm {
    box-shadow: 0 0 5px grey;
    padding: 30px;
    border-radius: 10px;
    background-color: $background-process;
}

@media (max-width: 380px) {
    .signInForm {
        h2 {
            font-size: 20px;
        }
    }
}