@import "../../components/styles/main.scss";


.header-text {
    font-size: 14px;
}

.horizontal-line-svg {
    width: 20%;
    height: 12px;
    right: 10px;
}

.story-background {
    background-color: $background-secondary;
}


.stats {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 50px 20px 20px 50px;
}

.logo-bar {
    background-color: $background-process;
}

.team-goal {
    font-size: 15px;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.team-members-list {
    background-color: rgba(0, 0, 0, 0.89);
    position: relative;
    .teamImage:hover {
        opacity: .5;
        transition: .3s ease-in-out;
    }    
}

.overlay {
    background-color: transparent;
    max-width: 120px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.social-icons img {
    padding: 5px;
}

@media (max-width: 768px) {
    .overlay {
        h6 {
            font-size: 10px;
        }
        p {
            font-size: 10px;
        }
    }
    .logo-bars {
        margin: 15px 0 !important;
    }
}


@media (max-width: 576px) {
    .team-members {
        grid-template-columns: repeat(2,1fr);
    }
    .social-icons img {
        width: 20px;
    }
}

.team-template-page {
    background-color: $background-tertiary;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

