@import '../styles/main.scss';

.header {
    background-color: $background-primary !important;
    padding-top: 0  !important;

    .nav-link{
        font-size: 17px;
        font-weight: $font-weight;
    }

    .active {
        border-top: 3px solid $border-link;
        padding-top: 5px;
    }
}